
.box-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFDEC;
    gap: 10px;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDEC;
}

.action-container form div {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-container form div span {
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.action-container-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #86A788;
    margin: 10px;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.fizz {
    background-color: #FFE2E2;
}

.buzz {
    background-color: #FFCFCF;
}

.fizzbuzz {
    background-color: #A17CA1;
}