body {
    margin: 2%;
    background-color: #f2e9e4;
}

img {
    width: 300px;
}

@font-face {
    font-family: 'Luminari';
    src: url('/RTU_DE0824_Web_development/fonts/Luminari-Regular.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: 'Luminari', serif;
    color: #22223b;
}

p, li, a {
    font-family: 'Georgia', serif;
}

.img-with-text {
    font-size: 80%;
}

hr {
    color: #4a4e69;
}